.button {
    padding: 1rem 3rem;
    font-family: 'Roboto Condensed', sans-serif;    
    background: linear-gradient(to bottom right, #007AF3, #007AF3, #00DFF0);
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin: 1rem 0;
    text-align: center;
}

.button--large {
    padding: 2rem 6rem;
    width: 20%;
    font-size: 2.5rem;
}

.button--small {
    padding: 0.5rem;
    width: 6%;
    font-size: 1rem;
}

.button--leaked {
    border: 1px solid #fff;
    background: transparent;
    color: white;
}