.button {
    font-family: 'Robot Condensed#007AF3', sans-serif;
    color: white;
    text-align: center;
    border: none;
    font-size: 1.5rem;
    background: linear-gradient(to bottom right, #007AF3,#007AF3, #00DFF0);
    padding: 1%;
    width: 10%;
}

.button--large {
    font-size: 2.5rem;
    padding: 2%;
    width: 20%;
}

.button--small {
    padding: 0.5%;
    font-size: 1rem;
    width: 6%;
}

.button--leaked {
    border: 1px solid #fff;
    color: black;
    background: transparent;
}