.button {
    display: inline-block;
    /* padding: 1rem 3rem; */
    width: 70%;
    /* height: 1.8rem; */
    text-align: center;
    padding: 0.5rem; 
}

.button__create {
    font-family: 'Roboto Condensed', sans-serif;    
    background: linear-gradient(to bottom right, #007AF3, #007AF3, #00DFF0);
    border: none;
    border-radius: 0;
    font-size: 12px;
    font-weight: 300;
    color: #fff;   
}

.button--large {
    padding: 2rem 6rem;
    width: 20%;
    font-size: 2.5rem;
}

.button--small {
    padding: 0.5rem;
    width: 6%;
    font-size: 1rem;
}

.button--leaked {
    border: 1px solid #fff;
    background: transparent;
    color: white;
}