nav.navbar.fixed-top {
    background-color:  transparent !important;
}

.img-desktop{
    background-image: url("../images/street.jpg");
    overflow: hidden;
}

body nav.shrink.bg-dark {
    background: linear-gradient(to bottom right, #150026, #150026, #3a0024);
}

button.btn.btn-outline-success.my-2.my-sm-0 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    font-weight: 300;
    border-radius: 0;
    color: #007AF3;
    border-color: #007AF3;
    padding: 0.3rem 1.7rem;
}

button.btn.btn-outline-success.my-2.my-sm-0:hover {
    background: linear-gradient(to bottom right, #007AF3, #007AF3, #00DFF0);
    color: #fff;
}

span.navbar-toggler-icon {
    background: linear-gradient(to bottom right, #007AF3, #007AF3, #00DFF0);
    color: #fff;
}

.container {
    padding: 0;
}

button.navbar-toggler {
    border-radius: 0;
}

input.form-control.mr-sm-2 {
    border-radius: 0;
}

img.hearme {
    padding: 0;
    width: 30%;
}

.timeline-image {
    background: linear-gradient(to bottom right, #007AF3, #007AF3, #00DFF0);
}

@media (min-width: 768px) {
  
    img.hearme {
      width: 15%;
    }
}

@media (min-width: 1024px) {
    img.hearme {
        width: 10%;
      }
}
