* {
    margin: 0;
    padding: 0;
}

.load {
    margin: 0 auto;
    padding-top: 10rem;
}

.content__graphic, .content__map {
    /* background: #f6f7f7; */
    text-align: center;
    border: 2px;
    /* box-shadow: 0 0 1em #857f8a; */
    /* height: 10vw; */
}
.content {
    margin-top:6rem;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/* .content__map {
   border: 1px solid white;
   box-shadow: 2px 1px 5px white;
} */

@media (min-width: 768px) {


    .content__graphic {
        /* width: 40%; */
        /* padding:0 5rem; */
    }
}

@media (min-width: 800px) {
    .content {
        justify-content: row;
    }

    /* .content__graphic, .content__map {
        height: 39vw;
    }

    .content__graphic {
        margin   : 0 10rem;
    } */
    .content__graphic {
        margin: 0;
        padding: 0rem 3rem;
        width: 47%;
    }

    .content__map {
        width: 45%;
    }

    .content {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {

    .content__graphic {
        margin: 0;
        padding: 0rem 3rem;
        width: 47%;
    }

    .content__map {
        width: 45%;
    }

    .content {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {

    .content__graphic {

    }
}
