.header {
    width: 100%;
    background-image: linear-gradient(to bottom right, #18002A, #18002A, #3F0027);
    padding: 0.6rem 0;
    text-align: center;
  }  
  
  .home-button{
    width: 20%;
    height: 100%;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  @media (min-width: 768px) {
  
    .header {
      text-align: unset;
    }
  
    .hearme {
      /* padding-left: 3rem; */
      height: 100%;
      width: 100%;
    }
  }