.section {
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    background-image: linear-gradient(to bottom right, #18002A, #18002A, #3F0027);
    padding: 0.6rem 0;
    text-align: center;   
}  