* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form--register {
    padding: 3rem 0 0 0;
    width: 80%;
}

.form-radios {
    display: flex;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 0.7rem;
    width: 100%;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form-radios__genders {
    padding-right: 10px;
}

.form-radios__genders {
    display: flex;
}

.form__title {
    padding-bottom: 1.5rem;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.3rem;
}

.button__create {
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(to bottom right, #007AF3, #007AF3, #00DFF0);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 0;
    margin: 0;
}

@media (min-width: 768px) {

    .form--register {
        padding: 3.5rem 0 0 0;
        width: 60%;
    }

}

@media (min-width: 992px) {

    .form--register {
        padding: 4rem 0 0 0;
        width: 50%;
    }
}

@media (min-width: 1200px) {

    .form--register {
        padding: 4rem 0 0 0;
        width: 40%;
    }
}