.section-team {
    padding: 2rem 0; 
}

.social-link:hover, .social-link::selection, .social-link:active, .social-link:focus {
    background: linear-gradient(to bottom right, #007AF3, #007AF3, #00DFF0) !important;
    color: #fff;
}

.section-team__timeline {
    padding-top: 3rem;
}

@media (min-width: 768px) {

    .section-team {
        padding: 4rem 0; 
    }

    .section-team__timeline {
        padding-top: 5rem;
    }
}