.section-team {
    padding: 2rem 0; 
}

.social-link:hover {
    background: linear-gradient(to bottom right, #007AF3, #007AF3, #00DFF0);
    color: #fff;
}

@media (min-width: 768px) {

    .section-team {
        padding: 4rem 0; 
    }
}