
.end-tutorial {
    color: #fff;
}

.section-tutorial {
    padding-top: 1.5rem;
}

.img-tutorial {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

.section-tutorial__timeline {
    padding-top: 3rem;
}

@media (min-width: 768px) {

    .section-tutorial {
        padding-top: 4rem; 
    }

    .img-tutorial {
        height: 100vh;
        margin-top: 4rem;    
    }

    .section-tutorial__timeline {
        padding-top: 5rem;
    }
}