
.img-tutorial {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

@media (min-width: 768px) {

    .img-tutorial {
        height: 100vh;
        
    }
}