* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-form {
    padding: 5rem 0 0 0;
    color: rgb(75, 73, 73);
    /* font-family: 'Open Sans Condensed', sans-serif; */
    height: 500px;
    font-size: 18px;
    justify-content: space-around;
    margin: 0;
    width: 70%;
}

.test {
    width: 100%;
}

.input {
    font-size: 16px;
    margin: 0;
    outline: 0;
    width: 100%;
    margin-bottom: 0.8rem;
}

.input::-webkit-input-placeholder {
    font-size: 50px;
}

.form {
    padding: 2rem 0 0 0;
    margin: 0 3rem;
    color: rgb(75, 73, 73);
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-around;
}

/* .input-login {
    font-size: 2px;
} */
/* 
.button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.3rem;
} */

.tamanho { 
    width: 100%;
}
/* 
.button__create {
    font-family: 'Roboto Condensed', sans-serif;    
    background: linear-gradient(to bottom right, #007AF3, #007AF3, #00DFF0);
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 0;
    margin: 0;
} */

.item-button {
    width: 100%;
}

.form-radios {
    display: flex;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 0.7rem;
    width: 100%;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form-radios__genders {
    padding-right: 10px;
}

.form-radios__genders {
    display: flex;
}

.form__title {
    padding-bottom: 1.5rem;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

@media (min-width: 768px) {
    .login-form {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .login-form {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .login-form {
        width: 20%;
    }
}