.item {
    /* margin: 10rem; */
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
}

.graphic {
    /* background-color: #3a0024; */
}

.title {
    color: #857f8a;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
